.header {
	background: #0067A3;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0 20px;
	justify-content: space-between;
}

@media screen and (max-width: 600px) {
	.title {
		display: none;
	}
	.header {
		height: 81.875px;
		justify-content: flex-end;
	}
}
